<br><br>

<div class="container">
    <div class="row text-center">
        <div class="col-md-6">
            <h4 style="display: inline;">Products</h4>
            <div class="float-right">
                <button class="btn btn-success">Add</button>
            </div>
            <app-products></app-products>
        </div>
        <div class="col-md-6">
            <h4 style="display: inline;">Customers</h4>
            <div class="float-right">
                <button class="btn btn-success">Add</button>
            </div>
            <app-customers></app-customers>
        </div>
    </div>
</div>


<br><br><br>

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h4 style="display: inline;">Product Orders</h4>
            <div class="float-right">
                <button class="btn btn-success">Add</button>
            </div>
            <app-product-orders></app-product-orders>
        </div>
    </div>
</div>
